@media (max-width: 750px) {
    body {
        font-size: 12px;
    }

    .pokedex {
        flex-direction: column;
        padding: 30px 0;
    }

    picture img {
        max-width: 300px;
    }

    

    .cartao-agente {
        max-width: 300px;
    }

    .cartao-agente .cartao-imagem {
        width: 200px;
        height: 200px;
    }

    .cartao-agente .cartao-info {
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .cartao-agente .cartao-info .info {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .cartao-agente .cartao-info h3 {
        font-size: 16px;
    }

    .listagem {
        max-width: 300px;
    }

    .listagem ul {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .listagem .agente {
        width: 140px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
    }

    .listagem .agente span {
        padding-right: 5px;
    }
}
@media(max-width: 1450px){
.cartao-jorge{
    display: none;
}

}